
.contact {
	background-color: #EAEAE5;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.contact__form {
	display: block;
	background-color: white;
	padding: 5% 10%;
}

.contact__form__input {
	display: block;
}