
.hero {
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.hero__image-presentation {
}

.hero__image-presentation img {
	min-width: ;
	max-width: 700px;

}


.hero__copy-text {
	padding-left: 10%;
	padding-right: 5%;
}

.hero__copy-text__description {
	margin-bottom: 15%;
}

.hero__copy-text__title {
	font-size: 4em;
	font-weight: 800;
	margin: 0;

}

