.testimonials {
	display: grid;
	justify-content: center;
	justify-items: center;
}

.testimonials__slider {
	overflow-x: scroll;
	max-width: 480px;
	scroll-snap-type: x mandatory;
	display: flex;
}

.testimonials__slider .testimonial {
    scroll-snap-align: start;
    text-align: center;
    min-width: 480px;

}

.testimonials__slider .testimonial__quote {
    color: gray;
    font-style: italic;
    font-size: 1.5em;	
    line-height: 1.5;
} 


.value-proposal__copy-text__testimony {
		box-shadow: #ddd 1px 10px 10px;
		padding: 5% 5%;
		display: grid;
		grid-template-areas:  "avatar name name"
    "avatar jobTitle jobTitle"
    "quote quote quote";
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    grid-template-columns: 20% 40% 40%;
    border: 1px solid #eee;
}


.testimonial__avatar img {
	max-width: 70px;
	border-radius: 100%;
}


	.value-proposal__copy-text__testimony__name {
	grid-area: name;
	margin: 0;
	}

	.value-proposal__copy-text__testimony__job-title {
	grid-area: jobTitle;
	margin: 0;
	}

	.value-proposal__copy-text__testimony__quote {
	grid-area: quote;
	}

